.dark {
  .pagination {
    a {
      color: $pagination_text;
      border-color: $pagination_border;
    }

    a:hover,
    .active a {
      background: $pagination_active_background;
    }
  }
}
