.dark {
  th {
    background: $table_header_background;
  }

  blockquote {
    border-left-color: $blockquote_border;
    background: $blockquote_background;
  }

  :not(pre) > code {
    color: $code_text;
    background: $code_background;
  }

  a {
    color: $link_text;
    border-bottom-color: $link_text;

    &:hover {
      color: $link_hover_text;
      background: $link_text;
    }
  }

  body {
    background: $body_background;
  }

  body,
  button {
    color: $body_text;
  }
}
