.dark {
  th {
    background: $table_header_background;
  }

  blockquote {
    border-color: $blockquote_border;
  }

  a {
    color: $link_text;

    &:hover {
      color: $link_hover_text;
      background: $link_text;
    }
  }

  body {
    background: $body_background;
  }

  body,
  button {
    color: $body_text;
  }
}
