<header>
  <div class="container">
    <div class="logo">
      <a href="/">
        <img src="/apple-touch-icon.png" alt="logo">
      </a>
    </div>
    <ul class="inline-list">
      {{- if and .Site.Params.theme.enable -}}
        <li>
          <a href="#" class="theme-toggler">{{ .Site.Params.theme.nextThemeText | default "Theme" }}</a>
        </li>
      {{- end -}}

      {{- if .Param "search.enable" -}}
        <li>
          <a href="#" class="search-opener">Search</a>
        </li>
      {{- end -}}
    </ul>
  </div>
</header>
