{{ $url := $.url }}
{{ $emailFieldName := $.emailFieldName }}
{{ $class := $.class }}
{{ $title := $.title }}
{{ $footer := $.footer }}
{{ $description := $.description }}
{{ $submitText := ($.submitText | default "Subscribe") }}
{{ $placeholder := ($.placeholder | default "Enter your email") }}

<div class="subscription-form{{ with $class }} {{ . }}{{ end }}">
  {{ with $title }}
    <h3>{{ . }}</h3>
  {{ end }}

  {{ with $description }}
    <p>{{ . }}</p>
  {{ end }}

  <form method="post" action="{{ $url }}" rel="nofollow noopener noreferrer" target="_blank">
    <input type="email" placeholder="{{ $placeholder }}" name="{{ $emailFieldName }}" required>
    <button type="submit">{{ $submitText }}</button>
  </form>

  {{ with $footer }}
    <p class="subscription-form-footer">{{ . | safeHTML }}</p>
  {{ end }}
</div>
