<article class="article-summary">
  <header>
    <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>

    {{ if eq .Kind "taxonomy" }}
      {{ $len := len .Data.Pages }}
      <div>{{ $len }} article{{ if gt $len 1 }}s{{ end }}</div>
    {{ end }}
  </header>

  {{ with (partial `function/get_page_description.html` .) }}
    <p>{{ . }}</p>
  {{ end }}

  {{ if .IsPage }}
    <footer>
      <time datetime="{{ .Date.Format `2006-01-02` }}">{{ .Date.Format "Jan 2, 2006" }}</time>
      {{ partial "terms.html" (dict "global" . "taxonomy" "tags" "class" "inline-list") }}
    </footer>
  {{ end }}
</article>
