.article__header {
  text-align: center;

  h1 {
    margin: 1.5rem 0;
  }
}

.article__header__meta {
  > * + *,
  .series li + li {
    margin-top: 0.75rem;
  }
}

.article__body {
  > * + *,
  blockquote > * + * {
    margin-top: 1rem;
  }

  table {
    display: block;
    overflow: auto;
  }

  h2,
  h3 {
    margin-top: 3rem;
  }

  ul {
    list-style-type: disc;
  }

  ul,
  ol {
    margin-left: 2.5rem;
  }

  li + li {
    margin-top: 0.25rem;
  }
}

.article__footer {
  .share {
    margin-top: 3rem;
    padding: 1rem;
    border: 1px solid $share_border;
    text-align: center;
  }
}
