.content {
  ul {
    list-style: outside disc;
  }

  ol {
    list-style: outside decimal;
  }

  ul,
  ol {
    margin-left: 2rem;

    > li + li {
      margin-top: 0.25rem;
    }
  }

  blockquote {
    padding-left: 0.75rem;
    border-left: 0.25rem solid $blockquote_border;
  }

  pre {
    overflow: auto;
  }

  pre,
  code {
    font-family: $font_mono;
  }

  .highlight > * {
    padding: 0.5rem;
    border-radius: $border_radius;
  }

  :not(pre) > code {
    margin: 0 0.125rem;
    padding: 0.25rem;
    border: 1px solid $code_border;
    border-radius: $border_radius;
    font-size: $font_size_sm;
    color: $code_text;
    background: $code_background;
  }

  > table {
    th,
    td {
      padding: 0.25rem;
      border: 1px solid $table_border;
    }
  }

  > * + * {
    margin-top: 1rem;
  }
}
