.container {
  margin: 0 auto;
  padding: 1rem;
  max-width: $body_width;
}

body {
  > header {
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .logo {
      width: $icon_size;
    }

    .nav {
      > * + * {
        margin-left: 1rem;
      }
    }
  }

  > footer {
    margin-top: 3rem;
    text-align: center;

    .container {
      > * + * {
        margin-top: 1.5rem;
      }
    }
  }
}
