.highlight-panel__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  padding: 0.25rem 1rem;
  font-size: $font_size_sm;
  font-style: italic;

  > span {
    max-width: 100%;
  }

  &,
  > button {
    color: $highlight_panel_title_text;
    background: $highlight_panel_title_background;
  }

  > button {
    border: 1px solid $highlight_panel_title_btn_border;
  }
}
