.container {
  margin: 0 auto;
  padding: 1rem;
  max-width: $body_width;
}

body {
  > header {
    margin-bottom: 2rem;

    .brand {
      display: inline-block;

      a {
        display: inline-block;
        padding: 0.25rem;
      }
    }

    .inline-list {
      float: right;
    }
  }

  > footer {
    margin-top: 4rem;
    text-align: center;

    .container {
      > * + * {
        margin-top: 2rem;
      }
    }
  }
}
