.pagination {
  text-align: center;
}

.pagination__item {
  display: inline-block;
  margin: 0.125rem;

  a {
    padding: 0.5rem 1rem;
    border: 1px solid $pagination_border;
    color: $pagination_text;
    background: $pagination_background;
    text-decoration: none;
  }

  a:hover,
  &.pagination__item--active a {
    border-color: transparent;
    color: $pagination_active_text;
    background: $pagination_active_background;
  }

  &.pagination__item--disabled {
    color: $pagination_disabled_text;
  }
}
