.pagination {
  margin: 3rem 0;
  text-align: center;

  a {
    display: inline-block;
    padding: 0.5rem 1rem;
    color: $pagination_text;
    background: $pagination_background;
  }

  a:hover,
  .active a {
    color: $pagination_active_text;
    background: $pagination_active_background;
  }
}
