.share {
  margin: 2rem 0;
  text-align: center;
}

.share__header {
  padding: 0.5rem 0;
  font-weight: 700;
}

.share__item {
  display: inline-block;
  margin: 0.125rem;
  text-decoration: none;

  svg {
    width: $icon_size;
    height: $icon_size;
    transition: all 0.2s ease-in-out;
  }

  &:hover {
    svg {
      transform: translateY(-0.25rem);
    }
  }
}
