.subscribe-form {
  padding: 1rem;
  text-align: center;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  button {
    margin-top: 1rem;
  }

  @media (min-width: 640px) {
    form {
      flex-direction: row;
    }

    button {
      margin: 0 0 0 1rem;
    }
  }
}
