.tags {
  li {
    display: inline-block;
    margin: 0.25rem 0.75rem;
  }

  a {
    &::before {
      content: "\2713";
    }
  }
}

.tags,
.series {
  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
