html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
pre,
figure,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 700;
}

h1 {
  font-size: $font_size_h1;
}

h2 {
  font-size: $font_size_h2;
}

h3 {
  font-size: $font_size_h3;
}

body,
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  font-family: $font_sans;
}

html {
  box-sizing: border-box;
  font-size: $font_size;
  line-height: $lineHeight;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video,
svg {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0.75rem 1rem;
  border: 1px solid $table_border;
}

th {
  background: $table_header_background;
}

td:not([align]),
th:not([align]) {
  text-align: left;
}

button {
  cursor: pointer;
}

blockquote {
  padding: 0.5rem 1rem;
  border-left: 0.25rem solid $blockquote_border;
}

pre {
  padding: 0.5rem 1rem;
  overflow: auto;
}

pre,
code {
  font-family: $font_mono;
  font-size: $font_mono_size;
}

:not(pre) > code {
  padding: 0.25rem;
  font-size: $font_size_sm;
  color: $code_text;
  background: $code_background;
}

ul {
  list-style-type: none;
}

figcaption {
  font-size: $font_size_sm;
  font-style: italic;
}

a {
  color: $link_text;
  text-decoration: none;

  &:hover {
    color: $link_hover_text;
    background: $link_text;
  }
}

body {
  background: $body_background;
}

body,
button {
  color: $body_text;
}
