{{ $global := .global }}
{{ $term := .term }}
{{ $taxonomy := .taxonomy }}
{{ $property := .property }}

{{ $result := "" }}

{{ with $global.Site.Params.taxonomies }}
  {{ $taxonomies := index . $taxonomy }}
  {{ with $taxonomies }}
    {{ $taxonomyConfig := index $taxonomies $term }}
    {{ with $taxonomyConfig }}
      {{ with $property }}
        {{ $result = index $taxonomyConfig $property }}
      {{ else }}
        {{ $result = $taxonomyConfig }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

{{ return $result }}
