{{ $global := .global }}
{{ $taxonomy := .taxonomy }}
{{ $terms := index $global.Params $taxonomy }}
{{ $useTermAsClass := .useTermAsClass }}

{{ with $terms }}
  <ul class="{{ $taxonomy }}">
    {{ range . }}
      {{ $term := . }}
      {{ $name := (partial "body/get_taxonomy_config.html" (dict "global" $global "taxonomy" "tags" "term" . "property" "title") | default .) }}
      <li{{ with $useTermAsClass }} class="{{ $term }}"{{ end }}>
        <a href="{{ printf `/%s/%s/` ($taxonomy | urlize) (. | urlize) }}">
          {{ $name }}
        </a>
      </li>
    {{ end }}
  </ul>
{{ end }}
