{{ $global := $.global }}
{{ $section := $.section }}
{{ $order := $.order }}
{{ $title := $.title }}
{{ $class := $.class }}
{{ $titleLevel := $.titleLevel }}
{{ $limit := $.limit }}
{{ $view := $.view }}
{{ $morePagesText := $.morePagesText }}

{{ $secionPage := ($global.GetPage $section) }}
{{ with $secionPage }}
  {{ $pages := .RegularPages }}
  {{ if eq $order "ByDate" }}
    {{ $pages = .RegularPages.ByDate }}
  {{ else if eq $order "ByDate.Reverse" }}
    {{ $pages = .RegularPages.ByDate.Reverse }}
  {{ else if eq $order "ByTitle" }}
    {{ $pages = .RegularPages.ByTitle }}
  {{ else if eq $order "ByTitle.Reverse" }}
    {{ $pages = .RegularPages.ByTitle.Reverse }}
  {{ end }}

  {{ $title := ($title | default (partial `function/get_page_title.html` .)) }}

  {{ with $pages }}
    <section{{ with $class }} class="{{ . }}"{{ end }}>
      {{ if eq $titleLevel "h2" }}
        <h2>{{ $title }}</h2>
      {{ else if eq $titleLevel "h3" }}
        <h3>{{ $title }}</h3>
      {{ else if eq $titleLevel "h4" }}
        <h4>{{ $title }}</h4>
      {{ else if eq $titleLevel "h5" }}
        <h5>{{ $title }}</h5>
      {{ else if eq $titleLevel "h6" }}
        <h6>{{ $title }}</h6>
      {{ end }}

      <ul>
        {{ range first $limit . }}
          <li{{ if eq $global.RelPermalink .RelPermalink }} class="active"{{ end }}>{{ .Render $view }}</li>
        {{ end }}
      </ul>

      {{ if and $morePagesText (gt (len .) $limit) }}
        <a class="btn" href="{{ printf `%s/` $section }}">{{ $morePagesText | safeHTML }}</a>
      {{ end }}
    </section>
  {{ end }}

{{ end }}

