{{ with .Site.Params.authorSocialOrder }}
  <ul class="inline-list">
    {{ range . }}
      {{ $value := (index $.Site.Params.author .) }}
      {{- if eq . "email" -}}
        <li>
          <a href="mailto:{{ $value }}" rel="noopener noreferrer" target="_blank">Email</a>
        </li>
      {{- else if eq . "facebook" -}}
        <li>
          <a href="https://www.facebook.com/{{ $value }}" rel="noopener noreferrer" target="_blank">Facebook</a>
        </li>
      {{- else if eq . "twitter" -}}
        <li>
          <a href="https://twitter.com/{{ $value }}" rel="noopener noreferrer" target="_blank">Twitter</a>
        </li>
      {{- else if eq . "reddit" -}}
        <li>
          <a href="https://www.reddit.com/{{ $value }}" rel="noopener noreferrer" target="_blank">Reddit</a>
        </li>
      {{- else if eq . "linkedin" -}}
        <li>
          <a href="https://www.linkedin.com/in/{{ $value }}" rel="noopener noreferrer" target="_blank">LinkedIn</a>
        </li>
      {{- else if eq . "github" -}}
        <li>
          <a href="https://github.com/{{ $value }}" rel="noopener noreferrer" target="_blank">GitHub</a>
        </li>
      {{- else if eq . "codepen" -}}
        <li>
          <a href="https://codepen.io/{{ $value }}" rel="noopener noreferrer" target="_blank">CodePen</a>
        </li>
      {{- else if eq . "codesandbox" -}}
        <li>
          <a href="https://codesandbox.io/u/{{ $value }}" rel="noopener noreferrer" target="_blank">CodeSandbox</a>
        </li>
      {{- else if eq . "youtube" -}}
        <li>
          <a href="https://www.youtube.com/{{ $value }}" rel="noopener noreferrer" target="_blank">YouTube</a>
        </li>
      {{- else if eq . "youtubeChannel" -}}
        <li>
          <a href="https://www.youtube.com/channel/{{ $value }}" rel="noopener noreferrer" target="_blank">YouTube</a>
        </li>
      {{- else if eq . "instagram" -}}
        <li>
          <a href="https://www.instagram.com/{{ $value }}" rel="noopener noreferrer" target="_blank">Instagram</a>
        </li>
      {{- end -}}
    {{ end }}
  </ul>
{{ end }}
