{{ $global := .global }}
{{ $taxonomy := .taxonomy }}
{{ $useTermAsClass := .useTermAsClass }}
{{ $terms := index $global.Params $taxonomy }}

{{ with $terms }}
  <ul class="{{ $taxonomy }}">
    {{ range . }}
      {{ $params := (dict "global" $global "taxonomy" "tags" "term" . "property" "title") }}
      {{ $name := (partial "function/get_taxonomy_property.html" $params) }}
      <li{{ if $useTermAsClass }} class="{{ . }}"{{ end }}>
        <a href="{{ printf `/%s/%s/` ($taxonomy | urlize) (. | urlize) }}">{{ $name }}</a>
      </li>
    {{ end }}
  </ul>
{{ end }}
