{{ $terms := slice }}
{{ if $.all }}
  {{ range (index $.global.Site.Taxonomies $.taxonomy).Alphabetical }}
    {{ $terms = $terms | append .Name }}
  {{ end }}
{{ else }}
  {{ $terms = index $.global.Params $.taxonomy }}
{{ end }}

{{ with $terms }}
  <ul class="{{ $.taxonomy }}{{ with $.class }} {{ . }}{{ end }}">
    {{ $len := len . }}
    {{ $lastIndex := sub $len 1 }}

    {{ range $index, $value := . }}
      {{ $urlWithoutTrailingSlash := (printf "/%s/%s" ($.taxonomy | urlize) ($value | urlize)) }}
      {{ $url := (printf "%s/" $urlWithoutTrailingSlash) }}

      {{ $name := $value }}
      {{ with ($.global.Site.GetPage $urlWithoutTrailingSlash) }}
        {{ $name = .Title }}
      {{ end }}

      <li>
        <a href="{{ $url }}">{{ $.prefix | default "" }}{{ $name }}{{ $.suffix | default "" }}</a>
      </li>
    {{ end }}
  </ul>
{{ end }}
